.html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-color: white;
  color: black;      
  font-size: 16px;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columnNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column {
  display: inline;
  flex-direction: column;
  margin-left: 5vw;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 4vw;
}

.img {
  max-width: 30vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.input {
  max-width: 10vw;
  height: 5vh;
  font-size: x-large;
}

.submit {
  font-size: x-large;
}
